@import "tailwindcss";

#root{
  font-family: "Inter",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme  {
  --color-rabbit-red: #ea2e0e;
  --animate-marquee:marquee 20s linear infinite;
  --animate-fadeIn:fadeIn 1.5s ease forwards ;
  --animate-marquee-vertical:marqueeVertical 20s linear forwards ;

  @keyframes marquee {
    0%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-50%);
    }
  }
  @keyframes marqueeVertical {
    0%{
      transform: translateY(0%);
    }
    100%{
      transform: translateY(-30%);
    }
  }
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
     opacity: 1;
    }
  }
  
}